<a href="https://colab.research.google.com/github/ashigupta99/Finlatics_Python_ML/blob/main/Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

**Colab Notebook**  
You can install python in your device or use a python notebook

To run a notebook:
* You can use jupyter notebook on your system
* You can use google colaboratory

Google Colaboratory provides you an environment to run your python noteboook and also provide access to google cloud servers to run your code.

**Some points to remember:**
* Python uses identation to separate blocks of code, so take care while using whitespaces in your code
* To comment a single line of code , use `#` symbol
* To comment a section a code, press `Ctrl + /`
* print statement to print strings is shown below

In [ ]:
# To print stuff in python, write print("Some string")
print("true")

true

#Data Types

**Numeric type:**  `int`, `float`, `complex`

**Character type:**  `str`

**Boolean type:**  `bool`

###Some additional data types available in python which come handy are:


*   `list`: Lists are used to store **multiple items in a single variable**, similar to array in other languages
*   `dict`: Dictionaries are used to store data values in **key:value pairs**.
*   `tuple`: Tuples are similar to lists except the fact that tuples are **immutable** i.e they cannot be changed after they are created.

In [ ]:
78%10

8

In [ ]:
a = "p"

###To know the data type of any variable or constant, use `type()` function.

`type(x)`: returns the data type of x

In [ ]:
x=False
print(type(x))

<class 'bool'>

In [ ]:
x=[2,5,3,'Hi', 23.56]
print(type(x))

#Variables

Variables are used in programming to store data, which we can retrive, store and change at command.

There is no need to declare the variables. variables are created during runtime automatically with their data types when they are assigned.

There are some rules that should be followed while naming a variable:
*    Variable name can contain characters like lower case and uppercase letters (`a,b,c,...z` and `A,B,C,...Z`), numbers (`0,1,2...`) and underscore (`_`)
*   Variable name cannot start with a number.
*   Variable names are case-sensitive and should be unique.

In [ ]:
# Legal variable names
intvar  = 4  # legal integer variable name
Intvar = 5
INTVAR  = 8  # variables are case-sensitive
int_var = 5  # underscore is allowed
intvar2 = 9  # numbers are allowed except at the start of variable name
_intvar = 1  # name can begin with an underscore

In [ ]:
# Invalid variable names
# 2intvar = 5 # variable name cannot begin with number
# intvar$ = 3 # '$' character is not allowed
# int ar = 5 # space is not allowed in the variable name

**Some conventions for variable names:**

In [ ]:
intVar  = 10  # Use camel case for variable name containing multiple words
int_var = 7   # you can also underscores to separate words

# Follow a convention throughout the code to prevent confusion
# Also use mnemonics for variable names to remember them easily

**Python allows multiple assignment in a single statement:**

In [ ]:
# x=1
# y=2
# z=3

x, y, z = 8, 2, 3   #1 would be assigned to x , 2 to y and 3 to z
# print("x: ", end='')
print(x)
print("y: %d" %(y))
print("z: %d" %(z))
print("x: %d y: %d z: %d" %(x, y, z))

8
y: 2
z: 3
x: 8 y: 2 z: 3

In [ ]:
a, b, c = 1, 'Hi', 23.56  # variables could be of different type
print('a: %d' %(a))
print('b: %s' %(b))
print('c: %f' %(c))

a: 1
b: Hi
c: 23.560000

**Print formatting in python:**

In [ ]:
print('For integer, use %d' %(23))
print('For float values, use %.3f' %(0.76)) # 0.3 shows that only three-decimal digits would be printed
print('For strings, use %s' %('this'))

# You could look more about by searching for format specifiers
# They are similar to the ones you use in C/C++

For integer, use 23
For float values, use 0.760
For strings, use this

**Integer variable operations:**

In [ ]:
x = 45
y = 7
sum       = x + y  # arithmetic sum
diff      = x - y  # difference between x and y
prod      = x * y  # multiplies x and y
expo      = x ** y # gives x raised to power of y
floatDiv  = x / y  # gives floating popint value of x divided by y
intDiv    = x // y # gives integer part of value of x divided by y
remain    = x % y  # give remainder from dividing x by y

print('sum = %d' %(sum))
print('difference = %d' %(diff))
print('product = %d' %(prod))
print('exponent = %d' %(expo))
print('floatDiv = %f' %(floatDiv))
print('intDiv = %d' %(intDiv))
print('remainder = %d' %(remain))

sum = 52
difference = 38
product = 315
exponent = 373669453125
floatDiv = 6.428571
intDiv = 6
remainder = 3

In [ ]:
# You can use these short-hand notations for assignments
x = 5

x += 4 # x = x + 4
print('x after addition: %d' %(x))

x -= 1
print("x after subtraction: %d" %(x))

x *= 3.7
print('x after multiplication: %d' %(x))

x %= 7
print('x after modulus: %d' %(x))

x after addition: 9
x after subtraction: 8
x after multiplication: 29
x after modulus: 1

**Boolean variable operations:**

In [ ]:
# Boolean values: True or False
a = 'True'
b = False

print(type(a))

<class 'str'>

In [ ]:
# Conditional operators returns boolean values
a = 2<3
b = 5>3
c = 'Hi'=='Hello'
d = type(2.1)== int
e = 'c' !='Hi'

print('a: %d' %(a))
print('b: %s' %(b))
print('c: %s' %(c))
print('d: %d' %(d))
print('e: %s' %(e))

a: 1
b: True
c: False
d: 0
e: True

In [ ]:
print("a :", a)

a : True

In [ ]:
# Boolean type converison

# int to bool
a = bool(2)
b = bool(21347234892)

# float to bool
c = bool(78.9)
d = bool(0.0)

# str to bool
e = bool('False')
f = bool('')

# list to bool
g = bool([1, 'Y20', 23.45])
h = bool([])

print('a: %s' %(a))
print('b: %s' %(b))
print('c: %s' %(c))
print('d: %s' %(d))
print('e: %s' %(e))
print('f: %s' %(f))
print('g: %s' %(g))
print('h: %s' %(h))

a: True
b: True
c: True
d: False
e: True
f: False
g: True
h: False

**String variable operations:**

In [ ]:
# You can directly assign single line strings using single or double quotes
x = 'Single quotes'
y = "Double quotes"

# For multi-line strings, use three single or double quotes
a = '''This is a multi-line
string using single
quotes'''

b = """This is a multi-line
string using double
quotes"""

print('a:')
print(a)
#print('\n') # this is an escape sequence which shifts the cursor to the next line
print('b:')
print(b)

a:
This is a multi-line
string using single
quotes
b:
This is a multi-line
string using double
quotes

In [ ]:
# '+' operator concatenates two strings
x = "Joey doesn't "
y = "share food!!!"
z = x + y

print('%s' %(x))
print('y: %s' %(y))
print('z: %s' %(z))
print("Hi"+"Hello")

Joey doesn't
y: share food!!!
z: Joey doesn'tshare food!!!
HiHello

In [ ]:
# Characters in a string can be accessed as elements in an array are accessed
s = 'BAZINGA!'
print('Second character: %s' %(s[1]))      # Python uses 0-indexing
print("First Character %s" %(s[0]))
print('Last character: %s' %(s[8]))        # -1 index refers to the last index of the string
print('Last third character: %s' %(s[-3]))  # negative indices run right to left starting from -1

Second character: A
First Character B
Last character: B
Last third character: G

**Slicing operations in strings:**

You can access a substring using the slicing syntax

     s[start_index : end_index : step]
*  `start_index` is included in the substring

*  `end_index` is not included in the substring

if any of the values is not given, default is used: default value for
* `start_index` = `0`
* `end_index` = `len(s)`
*  `step` = `1`

In [ ]:
s = 'We were on a break!!'

a = s[3:12:1] # gives substring starting from index 3 to 11
print('a: %s' %(a))

b = s[0:20:2] # gives substring starting from index 0 to 19 but with alternate letters
print('b: %s' %(b))

c = s[3::1] # gives substring starting from index 3 to last index
print('c: %s' %(c))

d = s[3:12:] # gives substring starting from index 3 to 11 with default step size of 1
print('d: %s' %(d))

e = s[:12:] # gives substring starting from index 0 to 11 with step size 1
print('e: %s' %(e))

f = s[:9] # gives substring starting from index 0 to 8 with step size 1
print('e: %s' %(f))

g = s[3:-2:1]
print('g %s ' %(g))

a: were on a
b: W eeo  ra!
c: were on a break!!
d: were on a
e: We were on a
e: We were o
g were on a break

In [ ]:
# Negative indices can also be used

s = 'Challenge accepted!'

a = s[-1::-1] # reverses the string
print('a: %s' %(a))

b = s[:-3:] # prints the string except the last 3 characters
print('b: %s' %(b))

a: !detpecca egnellahC
b: Challenge accept

**List operations:**

In [ ]:
# Create a list

a = []  # empty list
print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
b = ['Hi', '23', True] # list can contain data of different types
print(b[0:2])
print(type(b))

Hi
23
<class 'list'>

In [ ]:
c = list('232')
print(c)
print(type(c))

['2', '3', '2']
<class 'list'>

In [ ]:
# Access an element
# Elements can be accessed in the same way as done in strings

ls = [5, 'Hi', True, 56.98]
print("Second element: %s" %(ls[2]))   # 0-indexing
print("Last element: %0.2f" %(ls[-1]))    # negative indices start from last element and go right to left

Second element: True
Last element: 56.98

In [ ]:
# Slicing in lists
# Slicing is done in the same way as done in strings

l =  [5, 'Hi', True, 56.98]

a = l[:3:2]
print(a)

[5, True]

In [ ]:
b = l[1:]
print(b)

['Hi', True, 56.98]

In [ ]:
c = l[:-2]
print(c)

[5, 'Hi']

In [ ]:
# Modifying elements in the list
# Any element can be modified by assigning the new value

ls = [5, 'Hi', True, 56.98]

ls[2] = 'Hello'
print(ls)

[5, 'Hi', 'Hello', 56.98]

In [ ]:
# Range of values can be changed using slicing
ls = [5, 'Hi', True, 56.98]
ls[2:1:-1] = [[23,67]]  # you can add another list to a list
print(ls)

[5, 'Hi', [23, 67], 56.98]

In [ ]:
# List unpacking
# You could unpack a list into different variables

ls = [23, True, 'Hello']

a, b, c  = ls  # this will store different elements in different variables
print('a: %d' %(a))
print('b: %s' %(b))
print('c: %s' %(c))

a: 23
b: True
c: Hello

**Tuple operations:**

In [ ]:
# Create a tuple
t = (2,'Hi',True)  # tuple can also store data of different types
print(t)
print(type(t))

(2, 'Hi', True)
<class 'tuple'>

In [ ]:
# Access an element
# same way as done in list

t = (2,'Hi', 23.8, True)

print('Second element: %s' %(t[1]))
print('Second last element: %s' %(t[-2]))

Second element: Hi
Second last element: 23.8

In [ ]:
u = t[1:4]
print(u)

('Hi', 23.8, True)

In [ ]:
# Tuple cannot be modified
# The following lines would result in an error
# t = (2,'Hi',True)
# t[1] = 5

In [ ]:
# Tuples can be unpacked like lists
l = (23, 45.98, 'Hello')

a, b, c = l  # this will store different elements in different variables
print('a: %d' %(a))
print('b: %0.3f' %(b))
print('c: %s' %(c))

a: 23
b: 45.980
c: Hello

**Dictionary operations:**

In [ ]:
# Creating a dictionary
d = {"Big Bang Theory":"Sheldon", "FRIENDS":"Ross" ,"Office":"Michael"}
print(d)
print(type(d))

{'Big Bang Theory': 'Sheldon', 'FRIENDS': 'Ross', 'Office': 'Michael'}
<class 'dict'>

In [ ]:
# key has to be a unique string
# value can be of any type
d = {"Integer": 23, "Boolean": True, "Float":23}
print(d)
print(type(d))

{'Integer': 23, 'Boolean': True, 'Float': 23}
<class 'dict'>

In [ ]:
# value can be accessed using the key in a dictionary
d = {"Big Bang Theory":"Sheldon", "FRIENDS":"Ross" ,"Office":"Michael"}
s = d["Office"]
print(s)

Michael

In [ ]:
# keys can be listed using the keys() function
print(d.keys())
print(type(d.keys()))

dict_keys(['Big Bang Theory', 'FRIENDS', 'Office'])
<class 'dict_keys'>

In [ ]:
# values can be listed using values() function
print(d.values())
print(type(d.values()))

dict_values(['Sheldon', 'Ross', 'Michael'])
<class 'dict_values'>

In [ ]:
# key-value pairs can be listed as tuples using items() function
print(d)
print(d.items())

{'Big Bang Theory': 'Leonard', 'FRIENDS': 'Ross', 'Office': 'Michael', 'How I met your mother': 'Ted'}
dict_items([('Big Bang Theory', 'Leonard'), ('FRIENDS', 'Ross'), ('Office', 'Michael'), ('How I met your mother', 'Ted')])

In [ ]:
# change any value in a dictionary using its key
d['Big Bang Theory'] = 'Leonard'
print(d)

{'Big Bang Theory': 'Leonard', 'FRIENDS': 'Ross', 'Office': 'Michael'}

In [ ]:
# add a new key-value pair
d['How I met your mother'] = 'Ted'
print(d)

{'Big Bang Theory': 'Leonard', 'FRIENDS': 'Ross', 'Office': 'Michael', 'How I met your mother': 'Ted'}

**Type conversion:**

In [ ]:
# You can convert one data type to another
# using type coversion functions

a = 5               # int
b = 25.078          # float
c = 'How you doin'  # string

# Convert to int
d = int(b)
print('b after converting to int: %d' %(d))
print('type after conversion: %s \n' %(type(d)))

# Convert to float
e = float(a)
print('a after converting to float: %f' %(e))
print('type after conversion: %s \n' %(type(e)))

# Convert to string
f = str(b)
print('b after converting to string: %s' %(f))
print('type after conversion: %s \n' %(type(f)))

# Convert to list
g = list(c)
print('c after converting to list:')
print(g)
print('type after conversion: %s \n' %(type(g)))

# Convert to tuple
h = tuple(c)
print('c after converting to float:')
print(h)
print('type after conversion: %s \n' %(type(h)))

# Convert to set
i = set(c)
print('c after converting to float:')
print(i)
print('type after conversion: %s \n' %(type(i)))

b after converting to int: 25
type after conversion: <class 'int'>

a after converting to float: 5.000000
type after conversion: <class 'float'>

b after converting to string: 25.078
type after conversion: <class 'str'>

c after converting to list:
['H', 'o', 'w', ' ', 'y', 'o', 'u', ' ', 'd', 'o', 'i', 'n']
type after conversion: <class 'list'>

c after converting to float:
('H', 'o', 'w', ' ', 'y', 'o', 'u', ' ', 'd', 'o', 'i', 'n')
type after conversion: <class 'tuple'>

c after converting to float:
{' ', 'u', 'd', 'i', 'H', 'w', 'n', 'o', 'y'}
type after conversion: <class 'set'>

#Conditional Statements

`if..elif..else` statement is used for conditional control flow in the code.

Basic syntax is:

In [ ]:
# Take care of the indentation
a = -1
b = 5
if a > 1 :
  print('I am learning Python')
  print("Another")
else :
  print('What is going on')

What is going on

In [ ]:
a = 23
b = 23
if a < b :
  print('Yes')
elif a > b :
  print('No')
else:
  print('Meh')

Meh

In [ ]:
# Logical operators

# 'and' is used for conjunction of two conditionals
a = 3
b = 20
if a < b and b%2==0:
  print("both conditions are true")
else:
  print('either one of them is false')

both conditions are true

In [ ]:
# 'or' is used for disjunction of two conditionals
a = 12
b = 24
if a < b or b%a==0:
  print("one of the conditions are true")
else:
  print('both of them are false')

one of the conditions are true

In [ ]:
# 'not' is used to negate the conditional
a = 2
b = 5
if not a>=b :
  print('a is less than b')
else:
  print('a is greater than or equal to b')

a is less than b

#Iterative Statements

Iterative statements are used to repeat a set of statements.

`while` and `for` are two iterative statements in python.

Basic syntax for `while` is:

In [ ]:
# while statement
i = 2
while i < 10:
  print(i)
  i+=2
print('Loop terminated')

2
4
6
8
Loop terminated

In [ ]:
# There is an optional 'else' which is executed once when the condition becomes false

i = 1
while i < 6:
  print(i)
  i+=1
else:
  print('i>=6')
print("Anything")

1
2
3
4
5
i>=6
Anything

Basic syntax for `for` loop:

In [ ]:
# for loop
# for loop iterates over any iterable object like strings, list, tuple, range, etc

# this prints each character in string s
s = 'Hello'
for c in s:
  print(c)

H
e
l
l
o

In [ ]:
# lists or any slice of list can also be used as an iterator
l = [23, 'hi', True, 14.98]
for i in range(0,4,2):
  print(l[i])

23
True

In [ ]:
# iterate over a slice of list
for i in l[:2]:
  print(i)

23
hi

In [ ]:
# similarly for tuple
t = ('Hello', 'World', 'I', 'am ', 'here')
for it in t[0:3]:
  print(it)

Hello
World
I

In [ ]:
# range is used to create a sequence of numbers starting from start_index and ending on end_index-1
# with steps of step_size, the syntax of range is
# range(start_index, end_index, step_size)
# if any value is not provided then default values are used
# start_index = 0
# step_size = 1

for i in range(1,6,2):
  print(i)
  i=2324

1
3
5

In [ ]:
# leaving the step_size
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# leaving the start_index
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
a = range(1,6,2)
print(type(a))

<class 'range'>
range(1, 6)